/* Custom CSS styles */

@font-face {
  font-family: SGSTIX;
  src: url('fonts/STIX2Text-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SGSTIX;
  src: url('fonts/STIX2Text-Bold.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: SGSTIX;
  src: url('fonts/STIX2Text-Italic.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: SGSTIX;
  src: url('fonts/STIX2Text-BoldItalic.woff');
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: SGSTIX, serif;
  color: #000000;
  font-size: 1.8em;
}

.row {flex-wrap: wrap}

.row .column.column-75 {
  max-width: none;
}

.row .column.column-25 {
  max-width: none;
}

.navigation {
  font-size: 1.6rem;
}

#title {
  flex-basis: 100%;
}
